body {
    background-image: url("s22-3995-fine-scaled-e1667592920852.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.botão{
    background-color: aqua rgb(123,123,241);
    color:aquamarine;
    border;:none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s aese;
}
.botao:hover{
    background-color: blue;
}
.cabecalho{
   background-color: aquamarine;
   padding: 50px;
   width: 100%;
   border-style: groove;
   border-color: aqua;
}